*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    background-color: rgb(22, 22, 22) ;
}

.container-fluid:hover{
    background-color:rgb(22, 22, 22) ;
}

nav ul{
    height: 50px;
    display: flex;
    justify-content: right ;
    list-style: none;
}

nav ul li{
    padding: 10px 20px;
    height: 50px;
    display: inherit;
}

nav ul li:hover{  
    background-color:white;
    text-decoration: none;
}

nav ul a{
    font-weight: 600;
    text-decoration: none;
    color: rgb(245, 241, 236);
}

nav ul li:hover a{
    text-decoration: none;
    color: rgb(22, 22, 22);
}

.navbar1{
    text-align: center;
    opacity: 0.35;
    border: 3px solid #333;
    width: 55px;
    height: 55px;
    bottom: 20px;
    right: 50px;
    border-radius: 50%;
    background: white;
    position: fixed;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: bold;
    color: black;
    transition: 0.24s 0.2s;
}

.navbar1:hover{
    opacity: 1;
}

.navbar1 .menu{   
    width: 45px;
    list-style: none;
    position: relative;
    top: -215px;
    cursor: default;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 1.4s 0.07s;
    z-index: -1;
    text-align: center; 
}

.navbar1 .menu li{
    padding: 5px 10px;
    margin-top: 0.3rem;
    border: 2px solid #4d474a;
    border-radius: 60%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: white;
}

.navbar1 .menu li a{
    text-decoration: none;
    color: black;
}

.navbar1:hover .menu{
    transition: transform 0.4s 0.08s, z-index 0s 0.5s;
    transform: scale(1);
    z-index: 1;
}

.tegrid{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    /* align-items: center; */
}

.btn-teg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgIt1>img{   
    max-width: 100%;
    border: 1px solid black;
    transition: 0.5s;
}

.imgIt1{
    top: 8px;
    position: relative;
    text-align: center;
    max-width: 25%;
    text-align: center;
}


.imgIt1:hover{    
    transform: scale(1.03,1.03);
}

.imgIt1:hover > .btn-teg{    
    font-size: 22px;
    color: rgb(255, 255, 255);
}

img{
    max-width: 25%;
    max-height: 90%;
}

.cont{
    position: relative;
    max-width: 1200px;
    margin: 0px 100px;
}

.slid{

}